src/
coverage/
jenkins/
.eslintrc.js
.prettierrc
.prettierignore
.editorconfig
jest.config.js
.babelrc
node_modules/
**/__tests__
*.tgz
sonar-project.properties
**/__mocks__
tmp/
!.npmrc
!package*.json
!public
src/ciam.js
src/bookmark.js
